.popularMovieTitle {
  color: rgb(255, 255, 255);
  /* z-index: 10; */
  margin: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Noto Sans KR,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  z-index: 10;
}

.popularMovieBox {
  display: flex;
  position: relative;
  flex-direction: column;
}

.popularShowBox {
  display: flex;
  flex-direction: column;
}
.popularMovieWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  padding-top: 0.5rem;
}

.movieWrapper {
  height: 100vh;
}

.popularMovieWrapper::-webkit-scrollbar {
  display: none; 
}

.movieImg {
  width: 8.5rem;
  object-fit:cover;
  height: auto;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #000);
  /* margin-bottom: 25px; */
  transition: transform 0.25s ease-in-out;
}
.popularMovie {
  text-align: center;
  cursor: pointer;
  /* width: 200px; */
  padding: 3px;
  /* padding-bottom: 20px; */
}
.movieTitle {
  margin-top: 3px;
  /* width: 140px;
  height: 30px; */
  /* font-size: medium; */
  font-size: small;
  margin-left:5px;
  margin-right:5px;
  /* color: white; */
  opacity: 0.8;
  padding-right: 4px;
  font-size: calc(6px + .5vw);
}

.movieImg:hover {
  transform: translateY(-10px);
}

	
/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용)  */
@media screen and (min-width: 200px) { 
  .movieImg {
    width: 5.5rem;
  }
  .popularMovie {
    width: 6rem;
  }
  .popularMovieBox {
    margin-top: 7.5rem;
    /* padding-left: 0.7rem */
  }
  .popularMovieTitle {
    font-size: 0.5rem;
    padding-left: 0.5rem;
  }
  .popularMovieWrapper {
    padding-left: 0.5rem;
  }
} 
 
/* 가로모드 모바일 디바이스 (가로 해상도가 768px 보다 작은 화면에 적용)  */
@media screen and (min-width: 500px) { 
  .movieImg {
    width: 6rem;
  }
  .popularMovie {
    width: 7rem;
  }
  .popularMovieBox {
    margin-top: 6.5rem;
    /* padding-left: 1rem; */
  }
  .popularMovieTitle {
    font-size: 0.8rem;
    padding-left: 0.7rem;
  }
  .popularMovieWrapper {
    padding-left: 0.7rem;
  }
} 
 
/* 태블릿 디바이스 (가로 해상도가 992px 보다 작은 화면에 적용)  */
@media screen and (min-width: 700px) { 
  .movieImg {
    width: 7rem;
  }
  .popularMovie {
    width: 8rem;
  }
  .popularMovieBox {
    margin-top: 5rem;
    /* padding-left: 1.2rem; */
  }
  .popularMovieTitle {
    font-size: 0.9rem;
    padding-left: 0.9rem;
  }
  .popularMovieWrapper {
    padding-left: 0.9rem;
  }
} 
 
/* 테스크탑 (가로 해상도가 1200px 보다 작은 화면에 적용) */
@media screen and (min-width: 800px) { 
  .movieImg {
    width: 8.5rem;
  }
  .popularMovie {
    width: 9.5rem;
  }
  .popularMovieBox {
    margin-top: 3rem;
    /* padding-left: 1.5rem; */
  }
  .popularMovieTitle {
    font-size: 1rem;
    padding-left: 1rem;
  }
  .popularMovieWrapper {
    padding-left: 1rem;
  }
} 

@media screen and (min-width: 900px) {
  .popularMovieBox {
    margin-top: 0;
    top: -3.5rem;
  }
  .popularShowBox {
    position: relative;
    top: -3.5rem;
  }
  .movieWrapper {
    /* position: relative;
    top: -3.5rem; */
  }
}



.lightBtn {
  background-color: beige;
  color: black;
  width: 70px;
  height: 25px;
  border-radius: 20px;
  position: fixed;
  right: 10px;
  top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 900;
  font-size: 10px;
  opacity: 0.8;
  z-index: 10;
}

.bright {
  color: black;
  padding: 0;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  font-size: 10px;
  height: 100%;
  background: none;
  border: none;
  transition: transform 1s ease-in-out;
}

.bright:hover {
  background: rgba(227, 227, 207, 0.817);
}
.dark {
  width: 100%;
  color: black;
  padding: 0;
  font-size: 10px;
  border-radius: 0px 20px 20px 0px;
  font-size: 10px;
  height: 100%;
  background: none;
  border: none;
  transition: transform 1s ease-in-out;
}
.dark:hover {
  background: rgba(227, 227, 207, 0.817);
}

.motionImg {
  /* position: absolute; */
  width: 100%;
  background-size : cover;
  object-fit: cover;
  /* animation: slide 1.5s ease-in-out; */
  background: no-repeat center;
  opacity: 0.9;
  -webkit-background-size: 20rem;
  background-size: 10rem;
  z-index: 0;
}

.motionImgTitle {
  position: absolute;
  top: 55%;
  left: 10%;
  font-size: 240%;
  line-height: 2.5rem;
  font-family: Noto Sans KR,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-weight: bold;
  color: white;
  opacity: 0.5;
}
.relative {
  position: relative;
  /* transform: translate3d(-3741px, 0px, 0px); */
  /* box-sizing:content-box; */
  z-index: 0;
  margin-bottom: -10rem;
}

.arrowR, .arrowL {
  position: absolute;
  top: 50%;
  margin-top: -17.5px;
  width: 1.333rem;
  z-index: 10;
}

.arrowR {
  right: 0px;
}

.arrowL {
  left: 0px;
}