.bg {
  width: 100vw;
  height: 100%;
  position: relative;
  align-items: center;
  background-size : cover;
  /* text-align: center; */
  animation: slide 1.5s ease-in-out;
  background: no-repeat center;
  background-size: cover;
 }

 .bg::before{
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}

 @keyframes slide {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
 }

 .titleAndPoster {
  /* display: grid; */
  padding-top: 25px;
}

.wrapper {
  position: relative;
  display: flex;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  height: 100%;
  /* height 100vh 지우니까 페이지 여백 문제 해결됨 */
}
.title {
  padding-top: 20px;
  text-align: center;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 200%;
  font-weight: bolder;
  width: 98%;
}
.posterWrap {
  text-align: center;
  position: relative;
}
.poster {
  vertical-align: middle;
  opacity: 80%;
  width: 18rem;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 5px #000);
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용)  */
/* @media screen and (max-width: 400px) { 
  .poster img{
   width: 5rem;
  }
 }  */
 
.poster:hover, .poster:active {
  transform: scaleX(-1);
}
/* @media(hover: hover) and (pointer: fine) {
  .poster:hover, .poster:active{
    transform: scaleX(-1);
  }
} */
.textBox {
  color: rgba(255, 255, 255, 0.9);
  font-size: 100%;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  animation: text 0.2s ease-in-out;
}

@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.textBox hr {
  border: none;
  height: 1px;
  width: 80%;
  background-color: rgba(104, 98, 98, 0.9);
}
.voteScore {
  margin-top: 45px;
}
.overviewWrap {
  /* width: 200px; */
  width: 300px;
  right: 0px;
  color: rgba(214, 214, 214, 0.9);
  position: relative;
  padding-bottom: 2rem;
  animation: slide 1.5s ease-in-out;
}

@keyframes slide {
  from {
    right: -100px;
    opacity: 0.3;
  }
  to {
    right: 0px;
    opacity: 0.9;
  }
}
.release {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

.overview {
  width: 100%;
}